DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=


SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD= 
SMTP_PORT=587
SMTP_ENCRYPTION=tls

APP_NAME=
CUSTOMER=
DEVELOPER=

SIG_ENDPOINT=
ESIGNATURE_TOKEN=

SP_URL=
SP_ROOT=
SP_DOMAIN=
SP_SITE=
SP_LIBRARY=
SP_USERNAME=
SP_PASSWORD=
SP_CLIENTID=
SP_CLIENTSECRET=
SP_TENENTID=
SP_THUMBPRINT=

APP_BASE_URL=
IMPORTS_DIR=

SMS_KEY=
SMS_USERNAME=
SMS_SENDERID=
UMAMI_REF=

ASSIGNEE_ENDPOINT=